[user]
	name = Chuck Gabriel
	email = charles.gabriel@benefitfocus.com
[core]
	editor = vim
	excludesfile = /Users/cgabriel/.gitignore_global
[merge]
	tool = vimdiff
[color]
	ui = auto
[push]
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
